.animatedLoader {

  &_hidden {
    display: none;
  }

  &__image {
    height: 100px;
    background:url('../images/loader.gif') no-repeat center center;
  }

  &__text {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
  }
}