.exchangeRates {
  display: table;
  font-size: 16px;
  font-family: Tahoma, sans-serif;
  max-width: 600px;

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    padding: 15px;
    width: 33.3%;

    &:not(:first-child) {
      text-align: center;
    }
  }

  &__body {
    display: table-row-group;

    & .exchangeRates__row:nth-child(even) {
      background-color: rgba(gray, 0.1);
    }
  }

  &__head {
    display: table-header-group;
    background-color: #f7aa11;
    font-weight: bold;

    & .exchangeRates__cell {
      vertical-align: middle;
    }

  }
}
